---
layout: default
---
<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
</head>

<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center" id="i18_skills">
            <div class="navy-line"></div>
            <center><h1><span data-i18n="skills.my_skills"></span></h1></center>
        </div>
    </div>

    <div class="row features-block">
        <div class="wow zoomIn col-lg-6 col-lg-offset-3">
            <canvas id="{{ site.data.index.skills.id }}" height="200" width="500"></canvas>
        </div>
        <div class="col-lg-1"></div>
        <script>
        var ctx = document.getElementById("{{ site.data.index.skills.id }}");
        var data = {
            labels: ['Python', 'Java', 'Machine Learning', 'Deep Learning', 'NLP', 'Computer Vision', 'MongoDB', 'MySQL','Probability & Statistics'],
            datasets: [{
                label: ['Python', 'Java', 'Machine Learning', 'Deep Learning', 'NLP', 'Computer Vision','MongoDB', 'MySQL', 'Probability & Statistics'],
                backgroundColor: "rgba(179,181,198,0.2)",
                borderColor: "#3385FF",
                pointBackgroundColor: "#3385FF",
                pointBorderColor: "#fff",
                pointHoverBackgroundColor: "#3385FF",
                pointHoverBorderColor: "#3385FF",
                data: [60, 65, 60, 55, 75, 31, 40, 40, 55]
                }]
        };
        var myRadarChart = new Chart(ctx, {
            type: 'radar',
            data: data,
            options: {
                scale: {
                    responsive: true,
                    ticks: {min: 0, max: 100},
                    lineArc: false,
                    pointLabels: {fontSize: 14},
                },
                legend: {display: false},
            }
        });
        </script>
    </div>
</div>
<br>
<br>


<h1>Recent Posts</h1>
{% for post in paginator.posts %}
{% include post-preview.html %}
{% endfor %}
{% if paginator.total_pages > 1 %}
<div class="pagination">
  <div class="paginate-left">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">← Prev</a>
  {% endif %}
  </div>
  <div class="paginate-center">
  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      {{ page }}
    {% elsif page == 1 %}
      <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}
  </div>
  <div class="paginate-right">
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next →</a>
  {% endif %}
  </div>
</div>
{% endif %}