<section class="section-contact">
	<h2 id="Details">Contact Details</h2>
	<hr class="bar"/>
	<div class="social-links">
		<a href="https://www.facebook.com/profile.php?id=100002542726778">
			<div class="glyph-icon flaticon-facebook3"></div>
		</a>
		<a href="https://www.linkedin.com/in/tanvi-malhotra/">
			<div class="glyph-icon flaticon-linkedin"></div>
		</a>
		<a href="https://github.com/tanvi-m">
			<div class="glyph-icon flaticon-github"></div>
		</a>
		<a href="https://www.youtube.com/c/TanviMalhotra">
			<div class="glyph-icon flaticon-youtube31"></div>
		</a>
	</div>
	<hr class="bar"/>
	<a href="mailto:tanviimalhotra@gmail.com" class="biglink">tanviimalhotra@gmail.com</a>
</section>